<h1>Articles!!!!</h1>

<%= link_to "Create something coo!!!!", new_article_path %>

<% @articles.each do |article| %>
<div>
   <div>
    <h3><%= link_to article.title, article_path(article) %></h3>
    <p><%= article.text %></p>
    <p>Comments: <%= article.comments.count %></p>
    <i><%= article.created_at %></i>
    <div>
        <%= link_to "Modify", edit_article_path(article) %>
    </div>
      <div>
        <%= link_to "Delete",
         article_path(article), 
         method: :delete, data:{confirm: "are you sure?"} %>
    </div>
   </div>
</div>

<% end %>